html{
    background-color: black;
    /* background-image: url("images/new_crobuzon.jpg"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

body{
    padding: 0px;
    margin: 0px;
}

.renderer_view{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: evanescent;
    src: url(evanescent.ttf);
}

.wrapper{
    width:98%;
    height:93vh;
    overflow:auto;
    padding: 1vh 1vw;
}

/* #controls_box{ */
/*     float:left; */
/*     width:30%; */
/*     height:96%; */
/*     border-style: solid; */
/*     border-width: 3px; */
/*     border-color: #da6; */
/*     background: rgba(255,255,255,0.5); */
/* } */

/* #controls{ */
/*     height:100%; */
/* } */

/* #display_text{ */
/*     width: 98%; */
/*     height: 50%; */
/*     font-family: evanescent; */
/*     font-size: large; */
/*     font-weight: bold; */
/*     color: #e84; */
/*     background: rgba(40, 30, 20, 0.8); */
/*     resize: none; */
/* } */

/* #choices input{ */
/*     width:100%; */
/*     font-size: large; */
/*     font-family: evanescent; */
/*     font-weight: bold; */
/*     margin-top: 10px; */
/*     border-radius: 10px; */
/*     color: #e84; */
/*     background: rgba(40, 30, 20, 0.8); */
/* } */

/* #choices input:hover{ */
/*     font-weight: bold; */
/*     background: rgba(50, 60, 70, 0.8); */
/* } */

#visuals{
    /* float:right; */
    width:98%;
    height:98%;
    margin:auto;
    /* background-size:100% 100%; */
    border-style: solid;
    border-width: 3px;
    border-color: #da6;
}

